div#Builder.Message(class="container hidden").mt-0.pt-0
    div.ContentRow.row.mb-3.mt-0
        a#SavePrefabsNav.prefabsnav.col.ControlsMini.text-center.active Save Prefabs               
        a#LoadPrefabsNav.prefabsnav.col.ControlsMini.text-center Load Prefabs

    div#SavePrefabsDialog.SubMessage.w-100.py-2
        div.ContentRow.row
            div.col.mr-auto
                label(for="SavePrefabListScanDiameter") Scan diameter:
            div.col-2.ml-auto
                input#SavePrefabListScanDiameter.form-control.p-1.m-0(type="text" value="30")

        div.ContentRow.row
            div.col-auto.mr-auto
                p Save exact world coordinates:
            div.col-2.ml-auto
                input#SavePrefabListExactPositions(type="checkbox")

        div.ContentRow.row
            a#BuilderScanNearbyPrefabs.col.ControlsMini.p-2.text-center Scan Nearby Prefabs

        div.ContentRow.row
            div#ScanNearbyPrefabsItems.list-group.w-100.pl-2(style="max-height:300px;")

        div#SavePrefabListToFileButton.ContentRow.row.hidden
            a#SavePrefabListToFile.col.ControlsMini.px-2.text-center Save List to File...

    div#LoadPrefabsDialog.SubMessage.Controls.w-100.py-2.hidden

        div.ContentRow.row.text-left.w-100
            span.col Place the Builder's Key where items should spawn
            a#SpawnBuilderTokenItem.col.ControlsMini.p-2.text-center Spawn a Builder's Key

        div.ContentRow.row.pt-3
            form#LoadPrefabListFromFileForm(method="POST" enctype="multipart/form-data" action="/load_prefabs_input")
                input#LoadPrefabListFromFileInput.hidden(name="prefablist" type="file")
        div.ContentRow.row
            a#LoadPrefabListFromFile.col.ControlsMini.p-2.text-center Load from File...
        
        div#LoadPrefabListDetails.ContentRow.pt-3.hidden
            div.row
                i.fas.fa-file-code.p-1.pr-3
                span#LoadPrefabListFilename.font-italic
            div.row.w-100
                i.fas.fa-user.p-1.pr-3
                span Author:&nbsp;
                span#LoadPrefabListAuthor

            div.row.shadowbox.my-2
                div#LoadPrefabListItems.list-group.w-100.pl-3(style="max-height: 260px;")

            div#LoadPrefabListExactCoords.text-center.row.hidden
                i.fas.fa-exclamation-circle
                span.px-2 This file uses exact world coordinates
                
            div.ContentRow.row.py-2
                div.col-auto.mr-auto.pt-2
                    p Manual position offset:
                div.col.d-flex
                    label.p-1.pt-2(for="LoadPrefabsOffsetX") x
                    input#LoadPrefabsOffsetX.form-control.p-1(type="text" value="0.0")            
                div.col.d-flex
                    label.p-1.pt-2(for="LoadPrefabsOffsetY") y
                    input#LoadPrefabsOffsetY.form-control.p-1.m-0(type="text" value="0.0")
                div.col.d-flex
                    label.p-1.pt-2(for="LoadPrefabsOffsetZ") z
                    input#LoadPrefabsOffsetZ.form-control.p-1.m-0(type="text" value="0.0")

            div.row
                input#LoadPrefabListSpawnItemsId(type="hidden")
                a#LoadPrefabListSpawnItems.col.ControlsMini.p-2.text-center Spawn Items

