extends layout


block layout-content
     
    h1.Banner Prefabulator
        
    nav(class="navbar navbar-expand-lg navbar-light bg-light w-100" role="navgiation")
        ul(class="container")
            li#ControlsNavLi(class="topnav navbar-brand col text-center active")
                a#ControlsNav Control
            li#SelectNavLi(class="topnav navbar-brand col text-center")
                a#SelectNav Select
            li#SearchNavLi(class="topnav navbar-brand col text-center")
                a#SearchNav Search                      

    div(class="container")
        span#ClosestPrefab(class="col text-truncate") Selected: 
            label#selectedPrefab 
                if selectedPrefab
                    b #{selectedPrefab}
                else
                    b None selected
        a#DestroySelectedPrefab(class="col text-center")
            i(class="fas fa-trash-alt", alt="Delete Selected Prefab")

    include Controls.pug
    include SelectPrefabs.pug        
    include SearchPrefabs.pug
    include ServerConfig.pug

    footer(class="footer mt-auto py-3")
        div.ContentRow(class="container d-flex w-100" style="padding: 3px")
            div.ControlsMini(class="col-8")
                span#ConnectedTo(class="col text-center align-middle")
                    b#ServerName #{serverName}
                span(class="col text-center align-middle")
                    a#ConfigureServer(class="topnav px-2")
                        i(class="fas fa-cog" alt="Configure Server")
                span(class="col text-center align-middle")
                    a#SwitchServer(href="/servers" class="text-center")
                        i(class="fas fa-sign-out-alt" alt="Switch Server")
            div.ControlsMini(class="col-3 d-flex w-100")
                span(class="span text-center align-middle px-2")
                    b #{serverUsername}
                span(class="span text-center align-middle")
                    a#LogoutDoor(href="/login" class="px-2")
                        i(class="fas fa-door-open")            
