block variables
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")
        meta(name="theme-color", content="#000000")
        title #{title} | Prefabulator
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel="stylesheet" href="/style.css")
        script(src="//kit.fontawesome.com/a0320b1634.js", crossorigin="anonymous")
        script(src="//code.jquery.com/jquery-3.4.1.min.js")
        script(src="/script/main.js")
    body
        div#root
            block layout-content