div#PlayerConfigTradeDialog.Controls.w-100.pt-2.pb-2
    div.ContentRow
        span.px-2.py-1
            b#TradeItemsTag Send Item(s) to Player
        
    div.d-flex.pt-3
        i(class="fas fa-search pr-2 pt-2")
        div.w-100.pb-1.mb-1(style="flex:1")
            input#TradeItemsSearch.form-control.w-100(type="text" placeholder="Search Prefabs")

    div.ContentRow(class="row")
        div.TradeItemsGroup.ControlsMini(class="list-group" style="max-height: 260px")
            if spawnableItems
                each item in spawnableItems
                    a.list-group-item.text-left(id=item.Hash name=item.Name) #{item.Hash} - #{item.Name}

    div.ControlsMini.d-flex.w-100.m-0
        i.fas.fa-code.px-2
        input#TradeItemsSpawnArguments.form-control.w-100(style="flex:1" type="text" placeholder="spawn arguments")

    div.ContentRow
        div.row.w-100.pt-2
            input#TradeItemsCount_step(type="hidden" value="1")
            input#TradeItemsCount_min(type="hidden" value="1")
            a.col-1.minusInt.text-center(name="TradeItemsCount")
                i.pt-3(class="fas fa-minus")
            div.col-3.text-center.pt-1
                input#TradeItemsCount.form-control(type="text" value="1")
            a.col-1.plusInt.text-center(name="TradeItemsCount" style="flex:1")
                i.pt-3(class="fas fa-plus")
            div.col.mx-2(style="flex:1")
                a#TradeItemsPostBtn.ControlsMini.w-100.text-center.align-middle Post
            div.col.mx-2(style="flex:1")
                a#TradeItemsSpawnBtn.ControlsMini.w-100.text-center.align-middle Spawn
