div#PlayerConfigAdminDialog.Controls.w-100.pt-2.pb-2
    
    div.row.mt-3
        span.px-2.py-1
            b Kill Player
    div#PlayerAdminKill.w-100.pt-2.pb-2
        div.d-flex.w-100
            i(class="fas fa-skull-crossbones fa-2x px-2 pt-2")
            a#PlayerAdminKill.btn.ControlsMini.w-100.text-center.align-middle(style="flex:1") Kill Player
            i(class="fas fa-skull-crossbones fa-2x px-2 pt-2" style="")
    div.row.mt-4
        span.px-2.py-1
            b Kick Player From Server
    div#PlayerAdminKick.w-100.pt-2.pb-2.mb-3
        div.d-flex.w-100
            i(class="fas fa-trash-alt fa-2x px-2 pt-2")
            a#PlayerAdminKick.btn.ControlsMini.w-100.text-center.align-middle(style="flex:1") Kick Player
            i(class="fas fa-trash-alt fa-2x px-2 pt-2" style="")
