div.Controls.w-100.pt-2.pb-2
    div#TeleportToPlayerButton.pt-2.pb-2
        div.row
            a#TeleportToPlayerButton.btn.ControlsMini.w-100.text-center.align-middle Teleport to Player

    div.row
        span.px-2.py-1
            b Set Player Home
    div.row
        select#PlayerHomeSelect.form-control.w-100
            option(value="PlayerLoc" selected) Player's Current Location
            option(value="MyLoc") My Current Location
            option(value="Exact") Exact
            option(value="Respawn") Respawn Point (Reset)
    div#PlayerHomeExact.w-100.hidden
        div.row.pt-1.w-100
            div.col-1.pt-2
                b X
            div.col-3.px-1
                input#PlayerHomeX.form-control(type="text" placeholder="0.0")
            div.col-1.pt-2
                b Y
            div.col-3.px-1
                input#PlayerHomeY.form-control(type="text" placeholder="0.0")
            div.col-1.pt-2
                b Z
            div.col-3.px-1
                input#PlayerHomeZ.form-control(type="text" placeholder="0.0")

    div.pt-1.pb-2.row
        a#PlayerSetHomeButton.ControlsMini.col.text-center.align-middle Set Home Location

    div.row
        span.px-2.py-1
            b Select Destination

    div.row
        select#TeleportDestinations.form-control.w-100
            option(value="Home" selected) Player Home
            option(value="RespawnPoint") Respawn Point
            option(value="OriginalSpawnPoint") New Player Spawn
            option(value="FinishRecustomization") Customization House
            option(value="OutsideCave") Mine Entrance
            option(value="TestingArea") Testing Area
            option(value="OutsideForest") Forest Entrance
            option(value="OutsideTower") Climbing Tower Entrance
    div#TeleportToDestinationButton.row
        a#TeleportToDestination.ControlsMini.col.text-center.align-middle Teleport

    div.row.pt-2
        span.px-2.py-1
            b Select Player(s)
    div.row
        div.TeleportPlayers.list-group(style="max-height: 130px;")
            a.list-group-item(name="default") No players found
    div.row
        a#TeleportToSelectedPlayer.btn.ControlsMini.w-100.text-center.align-middle Teleport to Player

    div.row
        a#TeleportSelectedToMe.btn.ControlsMini.w-100.text-center.align-middle 
            span Teleport Player(s) to 
            span#TeleportPlayersPlayer Me
    div.row
        a#TeleportSelectedToDest.btn.ControlsMini.w-100.text-center.align-middle 
            span Teleport Player(s) to Destination
