div#PlayerSettingStats.list-group(style="max-height: 500px;")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(class="row d-flex")
            span(class="col-8 text-left align-middle")
                b God-mode
            span(class="col text-right align-middle")
                a.TogglePlayerConfig(name='godmode')
                    i#togglegodmode.Toggle(class="fas fa-toggle-off")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="health" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Health
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="health" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="health" class="px-1" type="text" value="5")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="health" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='health')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="maxhealth" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Max Health
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="maxhealth" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="maxhealth" class="px-1" type="text" value="5")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="maxhealth" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='maxhealth')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="xpboost" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Experience Boost (1)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="xpboost" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="xpboost" class="px-1" type="text" value="1")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="xpboost" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='xpboost')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="hunger" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Hunger
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="hunger" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="hunger" class="px-1" type="text" value="2")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="hunger" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='hunger')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="poison" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Poison (0)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="poison" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="poison" class="px-1" type="text" value="0")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="poison" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='poison')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="speed" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Movement Speed (1)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="speed" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="speed" class="px-1" type="text" value="1")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="speed" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='speed')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="damage" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Damage (1)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="damage" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="damage" class="px-1" type="text" value="1")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="damage" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='damage')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="damageprotection" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Resistance (1)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="damageprotection" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="damageprotection" class="px-1" type="text" value="1")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="damageprotection" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='damageprotection')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="crippleheath" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Cripple (0)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="crippleheath" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="crippleheath" class="px-1" type="text" value="0" step="0.1")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="crippleheath" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='crippleheath')
                    i(class="fas fa-save")
    div.list-group-item.noborder.p-1.m-0
        div.PlayerSetting.ControlsMini.mb-1(name="cripplehealth" class="row d-flex")
            span(class="col-7 text-left align-middle")
                b Nightmare (0)
            span(class="col text-center align-middle px-0")
                a.ModPlayerConfig(name="nightmare" class="minus text-center align-middle")
                    i(class="fas fa-minus")
            span(class="col-2 text-center align-middle px-1")
                input.SetPlayerConfig.form-control(name="nightmare" class="px-1" type="text" value="0" step="0.1")
            span(class="col text-center align-middle px-1")
                a.ModPlayerConfig(name="nightmare" class="plus text-center align-middle")
                    i(class="fas fa-plus")
            span(class="col text-right align-middle")
                a.SetPlayerConfig(name='nightmare')
                    i(class="fas fa-save")
