div#Prefabs.Message(class="container hidden" style="padding-top: 10px;")
    div.ContentRow.row
        a#SpawnPrefabsNav.prefabsnav.col.ControlsMini.text-center Spawnable Items               
        a#FindPrefabsNav.prefabsnav.col.ControlsMini.text-center Find Nearby

    include FindPrefabs.pug        
    include SpawnPrefabs.pug
