div#Search.Message(class="container hidden")
    div.ControlsMini.d-flex.m-0
        i(class="fas fa-search px-2")
        input#SearchNearestItems.form-control.w-100(style="flex:1" type="text" placeholder="Search spawnable items")

    div.ContentRow(class="row")
        div#SelectNearestItems(class="list-group")
            if spawnableItems
                each item in spawnableItems
                    button(class="FindablePrefab list-group-item list-group-item-action text-left" id=item.Hash name=item.Name) #{item.Hash} - #{item.Name}

    div.ContentRow(class="row")
        a#SearchFindNearest.ControlsMini(class="col text-center border-right") Find Nearest        
        div.col-2
        div.input-group(class="col text-right text-center")
            span.input-group-btn(class='btn')
                a#SpawnCountMinus(class="text-center")
                    i(class="fas fa-minus")
            input#SpawnCount.form-control(type="text" value="1" style="padding-left: 5px; padding-right: 5px;")
            span.input-group-btn(class='btn')
                a#SpawnCountPlus(class="text-center")
                    i(class="fas fa-plus")
        a#SearchSpawnItem.ControlsMini(class="col-3 text-center") Spawn Item

