div#SelectFindDialog.Message(class="container hidden")
    div.ContentRow(class="row")
        a#SelectFind.ControlsMini(class="col text-center") Find Nearby Items 
    
    div.d-flex.pt-3
        i(class="fas fa-search pr-2 pt-2")
        div.w-100.pb-1.mb-1(style="flex:1")
            input#SelectFindSearch.form-control.w-100(type="text" placeholder="Search Prefabs")
    
    div.ContentRow(class="row")
        div#SelectFindItems(class="list-group")
