div#Select.Message(class="container hidden")
    div.ContentRow(class="row")
        a#SelectFind.Controls(class="col text-center") Find Nearby Items 
    div.ContentRow(class="row")
        div#SelectFindItems(class="list-group")
