div#ServerConfig.Message(class="container hidden")
    div.ContentRow(class="row")
        i(class="fas fa-cog fa-2x px-3") 
        h4 #{serverName}
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Drop all on death
        span(class="col text-right align-middle")
            a.ToggleServerConfig(name='DropAllOnDeath')
                i#toggleDropAllOnDeath.Toggle(class="fas fa-toggle-off")
    div.ServerSetting.ContentRow.ControlsMini(name="RespawnTimeSeconds" class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Seconds before respawn (4)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="RespawnTimeSeconds" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='RespawnTimeSeconds')
                i(class="fas fa-save")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Time speed multiplier (1)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="TimeSpeedMultiplier" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='TimeSpeedMultiplier')
                i(class="fas fa-save")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Experience multiplier (1)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="XPX" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='XPX')
                i(class="fas fa-save")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Global damage multiplier (1)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="DamageX" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='DamageX')
                i(class="fas fa-save")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b PVP damage enabled
        span(class="col text-right align-middle")
            a.ToggleServerConfig(name='IsPVPEnabled')
                i#toggleIsPVPEnabled.Toggle(class="fas fa-toggle-off")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b PVP damage multiplier (0.1)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="PVPMultiplier" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='PVPMultiplier')
                i(class="fas fa-save")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b PVP cripple multiplier (0.3)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="PVPCrippleMultiplier" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='PVPCrippleMultiplier')
                i(class="fas fa-save")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Hunger deals damage
        span(class="col text-right align-middle")
            a.ToggleServerConfig(name='HungerDealsDamage')
                i#toggleHungerDealsDamage.Toggle(class="fas fa-toggle-off")
    div.ServerSetting.ContentRow.ControlsMini(class="row d-flex w-100")
        span(class="col-8 text-left align-middle")
            b Hunger tick rate (0.0005)
        span(class="col-2 text-center align-middle px-0")
            input.SetServerConfig.form-control(name="HungerTick" type="text" style="padding-left: 5px; padding-right: 5px;")
        span(class="col text-right align-middle")
            a.SetServerConfig(name='HungerTick')
                i(class="fas fa-save")